@charset "utf-8";
/* CSS Document */
*{
	color:white;
}
input{
	color:black;
}
/*--- Base Selectors ---*/
body{
	background-image:url(../Images/BG.jpg);
	background-size:100%;
	background-repeat:repeat-y;
	padding:0px;
	margin:0px;
	height:100%;
}
a{
	text-decoration:none;
	color:inherit;
}
::-webkit-input-placeholder{
	color:#000;
	opacity:1;
}
:-moz-placeholder{
	color:#000;
	opacity:1;
}
::-moz-placeholder{
	color:#000;
	opacity:1;
}
:-ms-input-placeholder{
	color:#000;
	opacity:1;
}
/*--- Major Classes ---*/
.f1{
	font-family:Lobster;
}
.f2{
	font-family:Helvetica,Arial,"Lucida Grande",sans-serif;
}
.f3{
	font-family:Helvetica,Arial,"Lucida Grande",sans-serif;
}

.container{
	width:940px;
	margin:0px auto;
	position:relative;
}

/*--- Header ---*/
#header{
	position:relative;
	z-index:10;
	width:100%;
	height:212px;
	margin:0px 0px 50px 0px;
	box-shadow: 0px 20px 20px black;
}
#header:before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top:0px;
	left:0px;
	background-image:url(../Images/BG2.jpg);
	background-size:100%;
	background-repeat:no-repeat;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}
#header .cut{
	width:100%;
	height:100px;
	background-image:url(../Images/BG2_Detail.png);
	background-size:100%;
	background-repeat:no-repeat;
	position:absolute;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	bottom:-35px;
}
#logCart{
	display:block;
	position:absolute;
	top:14px;
	right:0px;
	font-size:15px;
	font-weight:500;
	color:;
	z-index:50;
}
#logCart a{
	background-color: rgba(100,50,0,.8);
	padding:5px;
}
#logCart a:hover{
	background-color: rgba(100,50,0,.4);
}
.mainMenu{
	position:relative;
	top:12px;
	width:940px;
	padding:90px 0px 150px 0px;
}
.mainMenu a{
	background-size: 162px 118px;
	background-repeat: no-repeat;
	position: relative;
	display: block;
	padding: 51px 16px 46px 16px;
	float: left;
	height: 20px;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2px;
	text-align: center;
	width: 130px;
	text-transform: uppercase;
	margin-top: -50px;
	font-weight:bold;
	color:;
}
.mainMenu a:hover{
	background-image:url(../Images/Coffee.png);
	color:white;
}
#logo{
	position:relative;
	overflow:hidden;
	opacity:1;
	padding:0px;
	position:absolute;
	left: calc(50% - 100px);
	top: 50px;
	width:200px;
	height:200px;
	background-image:url(../Images/Logo_BG-01.png);
	background-size:180px 180px;
	background-position:center;
	background-repeat:no-repeat;
	border-radius:50%;
}
#logo #cup{
	transition:.5s;
	-webkit-transition:.5s;
	display:block;
	position:absolute;
	top:60px;
	left:54px;
	background-image:url(../Images/Logo_Cup-01.png);
	background-size:116px 70px;
	background-repeat:no-repeat;
	/*width:116px;*/
	width:232px;
	height:70px;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}
#logo:hover #cup{
	background-color:transparent;
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}
#store, #fundraiser{
	float:left;
	margin-right:30px;
}
#contact, #about{
	float:right;
	margin-left:30px;
}


/*--- Footer --*/
#footer{
	margin:20px 0px 0px 0px;
	position:relative;
	width:100%px;
	background-image:url(../Images/BG2.jpg);
	background-size:100%;
	height:350px;
	color:;
	box-shadow:0px -10px 20px #000;
}
#footer .cut{
	width:100%;
	height:100px;
	background-image:url(../Images/BG2_Detail.png);
	background-size:100%;
	background-repeat:no-repeat;
	position:absolute;
	top:-30px;
}
#contactUs h3,#social h3,#support h3{
	font-size:30px;
}
#contactUs ,#social ,#support{
	float:left;
	width:290px;
	text-align:center;
	font-size:25px;
}
#general{
	font-size:14px;
}
#social a{
	transition:.5s;
	-webkit-transition:.5s;
	float:left;
	width:40px;
	height:40px;
	background-size:40px 40px;
	margin:20px 10px 0px 95px;
	opacity:.7;
	border-radius:5px;
	box-shadow:0px 0px 10px #520;
}
#social a:nth-of-type(2n+0){
	margin:20px 80px 0px 10px;
}
#social a:hover{
	box-shadow:0px 0px 30px #520;
}
/*#social a:nth-of-type(4){
	margin:20px 45px 0px 45px;
}*/
#contactUs{margin-right:35px;}
#support{margin-left:35px;}